.fundo {
    background: brown;
    padding-top: 1%;
    padding-bottom: 7%;
}

.logo {
    position: absolute;
    padding: 10px;
    margin-left: 12.5%;
}

.inicio {
    margin-top: 110px;
    margin-left: 55%;
}

header li {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
    display: inline;
}

.text {
    padding-right: 5%;
    text-decoration: none;
    color: inherit;
    font-weight: bolder;
}

.text:hover {
    color: yellow;
}

