.logo {
    position: absolute;
    padding: 10px;
}

header {
    background-color: brown;
}

.inicio {
    padding-bottom: 236px;
    margin-left: 70%;
    font-size: 20px;
}

header li {
    font-family: 'Work Sans', sans-serif;
    display: inline;
    padding-left: 5%;
}

.text {
    text-decoration: none;
    color: inherit;
    font-weight: bolder;
}

.text:hover {
    color: yellow;
}

