body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

/* HEADER */

.fundo {
    background: rgb(100, 182, 237);
    padding-top: 0.5%;
    padding-bottom: 7.5%;
}

.logo {
    position: absolute;
    padding-top: 5px;
    margin-left: 10%;
    height: 17%;
}

.inicio {
    margin-left: 70%;
}

header li {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    display: inline;
}

.text {
    padding-right: 2.5%;
    text-decoration: none;
    color: inherit;
    font-weight: bolder;
}

.text:hover {
    color: yellow;
}

/* MAIN */

.imgmain {
    position: absolute;
    margin-left: 28.5%;
    margin-top: 1%;
    transform: scale(1.3, 1);
}

.esquerda {
    position: absolute;
    margin-left: 20%;
    margin-top: 10%;
    font-size: 40px;
    border: black;
    border-style: solid;
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
    font-weight: bold;
}

.direita{
    position: absolute;
    margin-left: 75.5%;
    margin-top: 10%;
    font-size: 40px;
    border: black;
    border-style: solid;
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
    font-weight: bold;
}

.content {
    position: absolute;
    overflow: hidden;
    border-radius: 3px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
}

.naveg {
    position: absolute;
    bottom: 260px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar {
    width: 70px;
    height: 17px;
    border: 2px white solid;
    border-radius: 5px;
    margin: 6px;
    cursor: pointer;
}

.bar:hover {
    background: white;
    transition: 0.6s;
}

input {
    display: none;
}

.slides {
    display: flex;
    width: 500%;
}

.slide {
    width: 20%;
    transition: .6s;
}

.slide img {
    width: 100%;
    height: 60%;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
}

#slide2:checked ~ .s1 {
    margin-left: -20%;
}

#slide3:checked ~ .s1 {
    margin-left: -40%;
}

.titulo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 600px;
    color: rgb(100, 182, 237);
    font-weight: bold;
    font-size: 60px;
    font-family: 'Work Sans', sans-serif;
}
