/* HEADER */

.fundo {
    background-color: darkgray;
    padding-top: 0.5%;
    border-bottom: gray solid 2px;
    padding-bottom: 8%;
}

.logo {
    width: 7.5%;
    padding-top: 1%;
    padding-left: 3%;
}

.inicio {
    margin-left: 70%;
}

header li {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    display: inline;
}

.text {
    text-decoration: none;
    color: inherit;
    font-weight: bolder;
    padding-right: 2.3%;
}

#blue {
    border-right: none;
}

#red:hover {
    color: brown;
}

#green:hover {
    color: green;
}

#yellow:hover {
    color: darkgoldenrod;
}

#blue:hover {
    color: royalblue;
}

/*MAIN*/

.borda {
    border: black solid 0px;
    text-align: center;
    padding: 2%;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 28px;
    background-color: darkgray;
}

.fonte {
    font-family: 'Work Sans', sans-serif;
}

.textprof {
    font-size: 32px;
    padding-bottom: 3%;
}

.login {
    padding-bottom: 3%;
    font-size: 20px;
}

.caixa1 {
    margin-bottom: 3%;
}

.senha {
    font-size: 20px;
}

.caixa2 {
    margin-right: 1.1%;
}

.entrar {
    margin-top: 4%;
    padding-left: 5%;
    font-size: 20px;
}

.entrar:hover {
    background-color: rgb(218, 211, 211);
    transition: .5ms;
    cursor: pointer;
}

input {
    border-radius: 5px;
    border: 0;
    padding: 1.5%;
    padding-right: 5%;
}