/* HEADER */

.fundo {
    background-color: royalblue;
    padding-top: 0.5%;
    border-bottom: rgb(54, 54, 223) solid 2px;
    padding-bottom: 4.2%;
}

.logo {
    width: 7.5%;
    padding-top: 1%;
    padding-left: 3%;
}

.inicio {
    margin-left: 70%;
    margin-top: 3.8%;
}

header li {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    display: inline;
}

.text {
    text-decoration: none;
    color: inherit;
    font-weight: bolder;
    padding-right: 2.3%;
    color: black;
}

.text:hover {
    color: white;
}

/*MAIN*/

.borda {
    border: black solid 0px;
    text-align: center;
    padding: 2%;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 28px;
    background-color: darkgray;
}

.fonte {
    font-family: 'Work Sans', sans-serif;
}

.textaluno {
    font-size: 30px;
    margin-bottom: 3%;
}

.textaluno2 {
    font-size: 20px;
    margin-bottom: 4%;
}

.rg {
    font-size: 20px;
}

.caixarg {
    border-radius: 5px;
    border: 0;
    padding: 1.5%;
    padding-right: 3%;
    margin-right: 4.8%;
}

.entrar {
    margin-top: 3%;
    font-size: 20px;
    border-radius: 5px;
    border: 0;
    padding: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
}

.entrar:hover {
    background-color: rgb(218, 211, 211);
    transition: .5ms;
    cursor: pointer;
}
