/* HEADER */

.fundo {
    background: darkgray;
    padding-top: 2%;
}

.logo {
    padding-top: 5px;
    margin-left: 10%;
    height: 17%;
}

img {
    width: 7.5%;
}

.inicio {
    margin-left: 70%;

}

header li {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    display: inline;
}

.text {
    padding-right: 2.5%;
    text-decoration: none;
    color: inherit;
    font-weight: bolder;
}

#red:hover {
    color: brown;
}

#green:hover {
    color: green;
}

#yellow:hover {
    color: darkgoldenrod;
}

#blue:hover {
    color: royalblue;
}

/*MAIN*/
