.fundo {
    background: brown;
    padding-top: 0.5%;
    padding-bottom: 7.5%;
}

.logo {
    position: absolute;
    padding-top: 5px;
    margin-left: 13.5%;
    height: 17%;
}

.inicio {
    margin-left: 65%;
}

header li {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    display: inline;
}

.text {
    padding-right: 2.5%;
    text-decoration: none;
    color: inherit;
    font-weight: bolder;
}

.text:hover {
    color: yellow;
}

